<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
body{background-color:#E6E6FA }</style>
<body>
<table  style="width:900px";  class="table table-striped table-hover  table-sm">

			<thead>
				<tr>
					<th>
					
							Employee First Name
					</th>
					<th>

							Employee Last Name
					</th>
					<th>

							Employee Email
					</th>
					<th>

							Actions
					</th>
				
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"  class="btn btn-success">Update</a>
					    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger" >Delete</a>
					</td>
					
				</tr>
			</tbody>
		</table>
		<a th:href=@{/newempform} class="btn btn-primary">Add Employees</a>
</body>
</html>