<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<style>
body{
background-color:#FAFAD2 }
.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}</style>
<body>

<a class="navbar-brand" href="#">Employee Management Project</a>
        </div><br>
<a th:href=@{home} class="btn btn-warning">View Employees</a>
<a th:href=@{newempform} class="btn btn-warning">Add Employees</a>
<a href="/employees" class="btn btn-warning">Admin Details</a>


</body>
</html>